<% if flash[:alert] %>
  <div class="alert alert-danger">
    <%= flash[:alert] %>
  </div>
<% end %>

<%= form_with(model: user, url: register_path) do |form| %>
  <%= form.label :nome%>
  <%= form.text_field :name %>

  <%= form.label :nome_usuario %>
  <%= form.text_field :name_user %>

  <%= form.label :email %>
  <%= form.email_field :email %>

  <%= form.label :password %>
  <%= form.password_field :password %>

  <%= form.submit 'Cadastrar' %>
<% end %>